*
{
    box-sizing: border-box;
    text-decoration: none;
}
body
{
    /*background: #90E3FF;*/
    padding: 0px;
    margin: 0px;
}
/*CONTAINER*/
.container
{
   width: 100%;
   height: 100%;
   max-width: 100%;
   margin: 0 auto;
}
/*HEADER*/
header
{
    background: #FFFFFF;
    border-bottom: solid black 1px;
    width: 100%;
    height: 13%;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 0;

    position: fixed;
    left: 0;
    top: 0;

}
.imagen-logotipo
{
    float: left;
    width:60px;
    height: 50px;
    margin-left: 0%;
    margin-top: 0%;
}
.header-nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #E8D0BA;
}
.menu-icon
{
    display: none;
}
header a
{
    color: black;
    text-decoration: none;
}
.nav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav ul li
{
    display: inline-block;
}
.nav ul li a
{
    display: block;
    padding: 0.5rem 3rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
.nav ul li a:hover
{
    background:#FFFFFF;
    border: solid 1px black;
}
.nav-toggle
{
    color: black;
    background: none;
    border: none;
    font-size: 1.5rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    line-height: 3rem;
    display: none;
}
/*CUERPO*/
main
{
    display: flex;
    margin-top: 68px;
    flex-direction: column;
}
/*SECCION 1*/
.Presentacion
{
    margin-top: 1%;
    width: 100%;
    height: 533px;
}
.Portada
{
    padding-top: 20px;
    width: 100%;
    height: 800px;
}
.imagen-Presentacion1
{
    position: absolute;
    width: 100%;
    height: 530px;
    opacity: 0.8;
    padding-top: 20px;
}
.imagen-Presentacionport
 {
     position: absolute;
     width: 100%;
     height: 800px;
     border-radius: 30px;
     margin-top: 4px;
 }

.imagen-Presentacion2
{
   position: relative;
   float: right;
   padding-right: 350px;
   width: auto;
    padding-top: 30px;
}
.DescargarAhora
{
    background: #7D3DC9;
    border-radius: 22px;
    width: 50%;
    margin-left: 25%;
}
.Titulo-DescargarAhora
{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1rem;
    padding: 4%;
    text-align: center;
    color: #FFFFFF;
}
.Titulo1
{
    position: relative;
    width: 95%;
    padding-top: 2%;
    padding-left: 80px;
    padding-block: 50px;

    font-weight:  bold;
    font-size: 4em;
    color: #7D3DC9;
}
.Rectangulo-Presentacion
{
    margin-top: -2%;
    position: absolute;
    width: 50%;
    height: 50%;
    padding: 3%;

}
.Rectangulo-Presentacion-new
{
    margin-top: -2%;
    width: 100%;
    height: 50%;
    padding: 3%;
}
.ParrafoPresentacion
{
    position: relative;
    background: #7D3DC9;
    color: #FFFFFF;
    border-radius: 59px;
    padding: 4%;
    padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
    font-family: Poppins;
    font-size: 1.5em;
}
/*SECCION2*/
.Caracteristicas
{
    margin-top: 1%;
    width: 100%;
}
.TituloCaracteristicasImportantes
{
    margin-top: 2%;
    font-family: Poppins;
    font-weight: bolder;
    font-size: 3rem;
    margin-left: 3%;
    color: #7D3DC9;
    text-align: center;
}
.Imagen-Rectangulo-Caracteristicas
{
    display: flex;
}
.imagen-Caracteristicas
{
    display: flex;
    justify-content: center;
    flex: 50%;
    width: auto;
    height: auto;
}
.imagen-Caracteristicas img
{
    margin-right: 1%;
}
.ConjuntoRectangulo
{
    margin-top: 1%;
    margin-left: 2%;
    display: flex;
    flex: 50%;
    flex-direction: column;
}
.Rectangulo-new
{
    width: 100%;
    height: 530px;
    background: #E8D0BA;
    border-radius:30px;
    font-family: Poppins;
    margin-top: 10px;
    padding-left: 180px;
}
.Rectangulo-Caracteristicas
{
    width: 98%;
    height: 130px;
    background: #E8D0BA;
    border-radius:30px;
    font-family: Poppins;
    margin-block: 10px;
}
.Titulo-Caracteristicas
{
    margin-top: 2%;
    margin-left: 7%;
    margin-bottom: 2%;
    opacity: 0.8;
    font-size: 2.5rem;
    color: #7D3DC9;
}

.Parrafo-Caracteristicas
{
    font-weight: normal;
    font-size: 1.2rem;
    text-align: justify;
    margin-top: -2%;
    margin-left:  7%;
    margin-right:  7%;
    margin-bottom: 3%;
}
/*SECCION3*/
.ComoFunciona
{
    margin-top:  3%;
    width: 100%;
}
.Titulo-Funciona
{
    margin-top: 0%;
    font-family: Poppins;
    font-weight: bolder;
    font-size: 3rem;
    margin-left: 3%;
    color: #7D3DC9;
    text-align: center;
}
.row-ComoFunciona
{
    margin-top: -0%;
    display: flex;
    flex-wrap: nowrap;
    font-family: Montserrat;
}
.imagen-Funciona
{
    display: flex;
    justify-content: center;

}
.CrearCuenta
{
    flex: 33.3%;
}
.IntroducirRuta
{
    flex: 33.3%;
}
.DisfrutatuViaje
{
    flex: 33.3%;
}
.Titulo1-Funciona
{
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.1px;
    color: #7D3DC9;
    margin-left: 10%;
}
.Titulo2-Funciona
{
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-left: 10%;
}
.Parrafo-Funciona
{

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-left: 10%;
    margin-right: 1.5%;
}
/*SECCION4*/
.Planes
{
    margin-top:  3%;
    width: 100%;
}
.Titulo-Planes
{
    margin-top: 0%;
    font-family: Poppins;
    font-weight: bolder;
    font-size: 3rem;
    margin-left: 3%;
    color: #7D3DC9;
    text-align: center;
}
.rowPlanes
{
    display: flex;
    flex-wrap: nowrap;
}
.Plane1
{
    flex: 50%;
    display: flex;
    justify-content: center;
}
.Plane2
{
    flex: 50%;
    display: flex;
    justify-content: center;
}
.Rectangulo-Planes
{
    width: 52%;
    height: 500px;
    background: #333333;
    border-radius: 55px;
    color: #FFFFFF;
}
.Titulo1-Planes
{
    text-align: center;
    margin-top: 11%;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.6rem;

}
.Titulo2-Planes
{
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.6rem;

}
.Parrafo-Planes
{
    font-family: Montserrat;
    padding-left: 10%;
    padding-top: 5%;
    font-size: 1.3rem;
    line-height: 36px;

}
.Elegir-Planes
{
    margin-left: 31%;
    margin-right: 31%;
    margin-top: 15%;
    margin-bottom: 15%;
    width: 38%;
    height: 12%;
    background: #7D3DC9;
    border-radius: 22px;
}
.Titulo-Elegir-Planes
{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1rem;
    padding: 15%;
    text-align: center;
    color: #FFFFFF;

}

/*SECCION5*/
.Grafico-Delincuencia
{

    margin-top:  3%;
    height: 620px;
    width: 100%;
}

.Titulo-Grafico
{
    margin-top: 3%;
    margin-bottom:  5%;
    font-family: Poppins;
    font-weight: bolder;
    font-size: 3rem;
    margin-left: 3%;
    color: #7D3DC9;
    text-align: center;
}
/*SECCION6*/
.Contactenos
{
    margin-bottom: 50px;
    width: 100%;
    height: 700px;
}
.Titulo-Contactenos
{
    font-family: Poppins;
    font-weight: bolder;
    font-size: 70px;
    color: #7D3DC9;
    text-align: center;
}

form
{
    width: 600px;
    margin: auto;
    background: #7D3DC9;
    padding-top: 20px;
    border-radius: 7px;
}

input
{
    width: 80%;
    margin-bottom: 20px;
    margin-top:  20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    margin-left: 10%;
    border: none;
    border-radius: 7px;
    text-align: -moz-right;
;
}
#ContactarMensaje
{
    height: 200px;
}
textarea
{
    min-height: 100px;
    max-height: 200px ;
    max-width: 100%;
}
#botonContacto
{
    background: #333333;
    color: #FFFFFF;
    padding: 20px;
}
#botonContacto:hover
{
    cursor: pointer;
}
/*SECCION7*/

.Descargar
{
    margin-top: 3%;
    width: 100%;
    height: 462px;
}
.imagen-Descargar
{
    opacity: 50%;
    position: absolute;
    width: 100%;
    height: 460px;
    border-radius: 30px;
}
.Titulo1-Descargar
{
    position: relative;
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.6rem;
    color: #7D3DC9;
    padding: 20px;
    padding-block: 0px;
}
.Titulo2-Descargar
{
    position: relative;
    text-align: center;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.5rem;
    color: #000000;
    padding: 20px;
}
.Botones-Descargar
{
    margin-top: 6%;
    display: flex;
    flex-wrap: nowrap;
}
.PlayStore-Boton
{
    flex: 50%;
    justify-content: right;
    display: flex;
    margin-right: 5%;

}
.Appstore-Boton
{
    flex: 50%;
    justify-content: left;
    display: flex;
}
.PlayStore-Rectangulo
{
    position: relative;


}

.Appstore-Rectangulo
{
    position: relative;
}

/*FOOTER*/
footer
{
    width: 100%;
    height: 82px;
    display: flex;
}
.Logo-Footer
{
    flex: 20%;
}
.imagen-logotipo-footer
{
    padding-left: 20%;
    padding-top: 3%;
}
.Boton-Footer
{
    flex: 22%;
    display: flex;
    flex-wrap: nowrap;
}
.Footer1
{
    flex: 50%;
}
.Footer2
{
    flex: 50%;
    padding-top: 20px;
}
.imagen-footer
{
    margin-top: 15%;
    margin-left: 70%;
}
.titulo-footer
{
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 20px;
    color: black;
    width: 100%;
    padding-top: 70%;
}
.Copyright-Footer
{
    flex: 13%;

}
.Copyright-Footer h1
{
    font-size: 0.70rem;
    text-align: center;
    font-family: Roboto;
    font-weight: bold;
    color: #5C5C5C;
    padding-top: 15%;
}
/*MEDIA QUERY */
@media screen and (max-width:1010px) {
    /*HEADER*/
    .nav
    {
        lex-direction: column;
        align-items: center;
        margin: 0;
        background-color: #FFFFFF;
        position: fixed;
        top: 70px;
        width: 100%;
        padding: 20px 0;
        border-bottom: solid black 1px;
        border-top: solid black 1px;
        height: 36%;
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    .nav ul
    {
        display: none;
    }
    .nav ul
    {
        display: block;
    }
    .nav ul li
    {
        display: block;
    }
    .nav ul li a
    {
        display: block;
        text-align: center;
        padding: 0.5rem;
        transition: all 0.4s linear;
        border-radius: 5px;
    }
    .nav-toggle
    {
        display: block;
        cursor: pointer;
    }
    .nav-menu_visible
    {
        left: 0;
    }
    .nav ul li a:hover
    {
        background: #FDFFB1;
    }
    /*CUERPO*/

    /*SECCION1*/
    .imagen-Presentacion2
    {
        display: none;
    }
    .Titulo1
    {
        position: relative;
        width: 95%;
        padding-top: 2%;
        padding-left: 50px;
        font-weight:  bold;
        font-size: 3em;
        color: #7D3DC9;
    }
    .Rectangulo-Presentacion
    {
        width: 80%;
        margin-top: 10px;
    }
    .ParrafoPresentacion
    {
        font-size: 1.2rem;
    }

    .DescargarAhora
    {
        margin-top: 10%;
    }
    /*SECCION2*/
    .Imagen-Rectangulo-Caracteristicas
    {
        display: block;
    }
    .imagen-Caracteristicas
    {
        display: none;
        width: 0px;
        height: 0px;
    }
    .imagen-Presentacionport
    {
        position: absolute;
        width: 100%;
        height: 800px;
        border-radius: 30px;
        margin-top: 4px;
    }
    .TituloCaracteristicasImportantes
    {
        width: 100%;
        font-family: Poppins;
        font-weight: bolder;
        font-size: 3rem;
        margin-left: 0%;
        text-align: center;
    }
    .ConjuntoRectangulo
    {
        margin-top: 1%;
        margin-left: 2%;
        display: flex;
        flex-direction: column;
    }
    .Rectangulo-Caracteristicas
    {
        width: 98%;
        height: 180px;
        background: #EACCB0;
        border-radius: 50px;
        font-family: Poppins;
        margin: 1%;

    }
    .Titulo-Caracteristicas1
    {
        margin-top: 2%;
        margin-left: 7%;
        margin-bottom: 2%;
        opacity: 0.8;
        font-size: 2.2rem;
    }
    .Titulo-Caracteristicas2
    {
        margin-top: 2%;
        margin-left: 7%;
        margin-bottom: 4%;
        opacity: 0.8;
        font-size: 2.2rem;
    }
    .Parrafo-Caracteristicas
    {
        font-weight: normal;
        font-size: 1rem;
        text-align: justify;
        margin-top: -2%;
        margin-left:  7%;
        margin-right:  7%;
        margin-bottom: 3%;
    }
    .Rectangulo-new
    {
        width: 100%;
        height: 530px;
        background: #E8D0BA;
        border-radius:30px;
        font-family: Poppins;
        margin-top: 10px;
        padding-left: 50px;
    }
    /*SECCION3*/
    .Titulo-Funciona
    {
        text-align: center;
        margin-top: 6%;
    }
    .row-ComoFunciona
    {
        flex-wrap: wrap;
    }
     .CrearCuenta
    {
        flex: 100%;
    }
    .IntroducirRuta
    {
        flex: 100%;
    }
    .DisfrutatuViaje
    {
        flex: 100%;
    }
    .Titulo1-Funciona
    {
       text-align: center;
       margin-left: 0%;
    }
    .Titulo2-Funciona
    {
        text-align: center;
        margin-left: 0%;
    }
    .Parrafo-Funciona
    {

        text-align: center;
        margin-left: 0%;
        margin-right: 0%;
    }
    .zone {
        font-size:2.1em;
        border-radius:20px;
        transition: all 0.3s linear;
        background-color: #EACCB0;
        height: 400px;
    }
    /*SECCION4*/
    .Titulo-Planes
    {
     text-align: center;
    }
    .rowPlanes
    {
        flex-wrap: wrap;
    }
    .Plane1
    {
        flex: 100%;
        padding-bottom: 10%;
    }
    .Plane2
    {
        flex: 100%;
    }
    .Elegir-Planes
    {
        margin-top: 10%;
    }
    .Titulo-Elegir-Planes
    {
        margin-top: 10%;
    }
    .Rectangulo-Planes
    {
        width: 70%;
    }
    /*SECCION 6*/
    form
    {
        width: 80%;
    }

    /*SECCION7*/
    .PlayStore-Boton
    {
        flex: 100%;
       justify-content: center;
        margin-right: 0%;
        margin-bottom: 5%;
    }
    .Appstore-Boton
    {
        flex: 100%;
        justify-content: center;
    }
    .Botones-Descargar
    {
        flex-wrap: wrap;
    }
    /*FOOTER*/
    footer
    {
        flex-wrap: wrap;
    }
    .Logo-Footer
    {
        display: none;
    }
    .Boton-Footer
    {
        flex: 100%;
    }
    .imagen-footer
    {
        margin-left:80%;
    }
}

/*
Footer
*/
.zone {
    font-size:2.1em;
    border-radius:20px;
    transition: all 0.3s linear;
    background-color: #EACCB0;
}

/*
Planes
*/

li.beneficios {
    padding-left: 30px;
    font-size: large;
}
h1.beneficios {
    padding-left: 30px;
    font-size: x-large;
}

.Elegir-Planes
{
    margin-top: 8%;
}
.Titulo-Elegir-Planes
{
    font-size: large;
    padding: 20px;
}


/*
Barra de navegación
*/

.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.7em;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.sticky {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}
.primarycolor {
    background: #EACCB0;
}
.zone-var {
    color:#FFF;
    font-size:2em;
    border-radius:20px;
    transition: all 0.3s linear;
}
.linav {
    padding: 30px;

}
.linav-img {
    padding: 15px;
}
.anav {

    font-style: normal ;
    color: black;
    /*
        para quitarle el subrayado a los enlaces
    */
    text-decoration: none;
}
.push {

    margin-left: auto;
}
.typo-roboto {
    font-family: Roboto;
}